OPENAI_API_KEY=

S3_ACCESS_KEY_ID=	
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_BUCKET=

S3_PUBLIC_DOMAIN=
S3_ENABLE_PATH_STYLE=0

DATABASE_URL=postgresql://

KEY_VAULTS_SECRET=
NEXT_AUTH_SECRET=

AUTH_CASDOOR_ISSUER=
AUTH_CASDOOR_ID=
AUTH_CASDOOR_SECRET=

NEXT_PUBLIC_FINGERPRINT_API_KEY=
NEXT_PUBLIC_FINGERPRINT_ENDPOINT=

FINGERPRINT_API_KEY=